---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    span.fund is a focused investment fund specializing in early-stage technology companies 
    and innovative startups. We believe in supporting entrepreneurs who are building the future 
    through breakthrough technologies and scalable business models.
  </p>
</div>
