---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    Astro Milidev is a minimalistic portfolio+blog <TextLink
      href="https://astro.build">Astro</TextLink
    > theme.
  </p>

  <p>
    It originates from <TextLink href="https://github.com/trevortylerlee"
      >Trevor Lee</TextLink
    >'s <TextLink href="https://astro-micro.vercel.app/">Astro Micro</TextLink> theme,
    which is based on <TextLink href="https://github.com/markhorn-dev"
      >Mark Horn</TextLink
    >'s <TextLink href="https://astro-nano-demo.vercel.app/"
      >Astro Nano</TextLink
    > (after "nano" and "micro" comes "mili", hence the first part of the name).
  </p>

  <p>
    Astro Milidev enhances the above codebases with a variety of features. I
    customized the original theme for my personal website, and also refactored
    core parts of the code, making it more customizable and extensible.
  </p>

  <p>
    The changelog is available in this post: <TextLink
      href={resolvePath(
        "/blog/everything-new-in-astro-milidev",
        Astro.url.pathname,
      )}>Everything new in Astro Milidev</TextLink
    >. Another post <TextLink
      href={resolvePath("/blog/getting-started", Astro.url.pathname)}
      >Getting started</TextLink
    > explains the configuration process step by step. The code is MIT-licensed and
    available on <TextLink href="https://github.com/bartoszlenar/astro-milidev"
      >GitHub</TextLink
    >.
  </p>

  <p>Enjoy!</p>
</div>
